In [10]:
# 모델 정의
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Conv2D, MaxPooling2D, Dense, Dropout, Flatten

model = Sequential()
model.add(Input(shape=(28,28,1))) # 이미지 데이터는 마지막에 채널정보까지 넣어준다.
#model.add(Conv2D(32, 3, activation='relu'))
##model.add(Conv2D(32, (3,3), activation='relu')) #(3,3)을 3하나로 써도 됨
model.add(Conv2D(32, 3, activation='relu', padding='same'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.1))

#model.add(Conv2D(64, 3, activation='relu'))
model.add(Conv2D(64, 3, activation='relu', padding='same'))
model.add(MaxPooling2D())
model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(10, activation='softmax'))

model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_12 (Conv2D)          (None, 28, 28, 32)        320

 max_pooling2d_9 (MaxPoolin  (None, 14, 14, 32)        0
 g2D)

 dropout_8 (Dropout)         (None, 14, 14, 32)        0

 conv2d_13 (Conv2D)          (None, 14, 14, 64)        18496

 max_pooling2d_10 (MaxPooli  (None, 7, 7, 64)          0
 ng2D)

 dropout_9 (Dropout)         (None, 7, 7, 64)          0

 flatten (Flatten)           (None, 3136)              0

 dense (Dense)               (None, 128)               401536

 dropout_10 (Dropout)        (None, 128)               0

 dense_1 (Dense)             (None, 10)                1290

=================================================================
Total params: 421642 (1.61 MB)
Trainable params: 421642 (1.61 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [11]:
# 모델 정의
model.compile(loss='sparse_categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [20]:
from tensorflow.keras.datasets import mnist
(train_X, train_y), (test_X, test_y) = mnist.load_data()

In [21]:
train_X =  train_X.reshape(-1, 28, 28, 1) / 255.0 # , , , 채널
test_X = test_X.reshape(-1, 28, 28, 1) /255.0

In [22]:
model.fit(train_X, train_y, validation_data=(test_X, test_y), # validation_Data : 학습할때마다 점수 보여줌
          batch_size=128, epochs=10, verbose=1)

Epoch 1/10
469/469 [==============================] - 19s 38ms/step - loss: 0.3206 - accuracy: 0.8999 - val_loss: 0.0659 - val_accuracy: 0.9777
Epoch 2/10
469/469 [==============================] - 18s 39ms/step - loss: 0.1082 - accuracy: 0.9677 - val_loss: 0.0427 - val_accuracy: 0.9853
Epoch 3/10
469/469 [==============================] - 18s 39ms/step - loss: 0.0808 - accuracy: 0.9761 - val_loss: 0.0336 - val_accuracy: 0.9888
Epoch 4/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0692 - accuracy: 0.9795 - val_loss: 0.0330 - val_accuracy: 0.9890
Epoch 5/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0561 - accuracy: 0.9827 - val_loss: 0.0295 - val_accuracy: 0.9902
Epoch 6/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0523 - accuracy: 0.9842 - val_loss: 0.0254 - val_accuracy: 0.9917
Epoch 7/10
469/469 [==============================] - 19s 41ms/step - loss: 0.0466 - accuracy: 0.9856 - val_loss: 0.0276 - val_accuracy: 0.9913
Epoch 8/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0430 - accuracy: 0.9862 - val_loss: 0.0275 - val_accuracy: 0.9910
Epoch 9/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0375 - accuracy: 0.9887 - val_loss: 0.0276 - val_accuracy: 0.9911
Epoch 10/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0363 - accuracy: 0.9885 - val_loss: 0.0224 - val_accuracy: 0.9926

In [23]:
loss, accuracy = model.evaluate(test_X, test_y)

313/313 [==============================] - 1s 3ms/step - loss: 0.0224 - accuracy: 0.9926

In [24]:
print(loss, accuracy)

0.02237527072429657 0.9926000237464905

In [26]:
import numpy as np
pred = model.predict(test_X)
pred = np.argmax(pred, axis=1)

313/313 [==============================] - 1s 3ms/step

In [28]:
import pandas as pd

pd.crosstab(test_y, pred)

col_0    0     1     2     3    4    5    6     7    8    9
row_0
0      976     0     0     0    0    0    2     0    1    1
1        0  1133     1     1    0    0    0     0    0    0
2        1     0  1028     0    1    0    0     2    0    0
3        0     0     0  1007    0    2    0     0    1    0
4        0     0     0     0  977    0    2     0    0    3
5        1     0     0     4    0  885    1     1    0    0
6        2     2     0     0    1    4  949     0    0    0
7        0     2     6     0    0    0    0  1019    1    0
8        2     1     3     1    1    1    0     2  961    2
9        0     2     0     0    9    4    0     2    1  991